@font-face {
  font-family: 'Fira Mono';
  src: url('./FiraMono/FiraMono-Regular.woff2') format('woff2'), url('./FiraMono/FiraMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('./FiraMono/FiraMono-Bold.woff2') format('woff2'), url('./FiraMono/FiraMono-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
